{{!-- This will be where we add our burgers  --}}
<div class="jumbotron">
  <h1>Eat Burgers</h1>
</div>


<div class="row">

  <div class="col-1">
    {{!-- separator --}}
  </div>

  <div class="col-4">
    <h2> Burgers to EAT! get working skinny</h2>

    <ul>
      {{#each burger}}
        {{#unless devoured}}
          <li>
            {{name}}
            <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}" >Eat da Burgar</button>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="col-1">
    {{!-- separator --}}
  </div>

  <div class="col-4">
    <h2>Burgers EATEN, you fatty</h2>

    <ul>
      {{#each burger}}
        {{#if devoured}}
          <li>
            {{name}}
            <button class="delete-burger" data-id="{{id}}" data-newdevoured="{{devoured}}" >Throw up</button>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>

  <div class="col-1">
    {{!-- separator --}}
  </div>

</div>

 <h2>Make your own burger, bc you are special or something...</h2>

 <form class="create-burger">

   <div class="form-group">
      <label for="ca"> Burger Name: </label>
      <input type="text" id="ca" name="name">
  
    <button type="button">CONJURE THE BURGER</button>
    </div>

 </form>